.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  padding: 40px;
  justify-items: center;
}
.infoMessage {
  color: aliceblue;
  text-align: center;
  grid-column: 1 / -1;
}
